.routeToUniversity-section{
    padding: 20px 15px;
    /* background-color: #f0f2fc; */
}
.routeToUniversity-left>img{
    width: 70%;
}
.routeToUniversity-right{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 15px 0;
   width: 80%;
}

.routeToUniversity-right>h3{
    font-size: 38px;
}
.routeToUniversity-right>h3>span{
    color: #5D0CFD;
    font-weight: 600;
}
@media (max-width:576px) {
   
    .routeToUniversity-right{
        gap: 10px 0;
        width: 100%;
        /* justify-content: flex-start; */
    }
    .routeToUniversity-right>h3{
        font-size: 22px;
    }
}