.personalDetails-section{
    padding: 30px 15px;
    background-color: #f8fcff;
}
.personalDetails{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
}
.formContent {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 30px;
    row-gap: 20px;
  }
  .formContent label {
    font-size: 12px;
    color: gray;
  }
  @media (min-width:768px) {
      .formContent {
          grid-template-columns: repeat(2, minmax(250px, 1fr));
        }

  }